<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEC ERM System</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="../CSS/student-dashboard.css">
    <link rel="stylesheet" href="../CSS/student-profile.css">
</head>

<body>

    <!-- Topbar Start -->
    <div class="container-fluid bg-dark">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <small><i class="fa fa-phone-alt mr-2"></i>9073683912 / 8100192408</small>
                    <small class="px-3">|</small>
                    <small><i class="fa fa-envelope mr-2"></i>principal.aecwb@gmail.com</small>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->



    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="index.html" class="navbar-brand ml-lg-3">
                <h1 class="m-2 text-uppercase text-primary"><i class="fa fa-book-reader mr-3"></i>AEC ERM SYSTEM</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <!-- Navbar End -->

    <section id="content-wrapper">
        <main role="main" class="pt-5 main">
            <div class="header text-center pt-5 pt-lg-4">
                <h1>WELCOME TO<span style="color: orangered;"> ERM System</span></h1>
            </div>

            <hr>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <div class="card card-body"
                            style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> LOGIN</h1>
                            <!-- Login buttons for homepage -->
                            <button class="btn btn-primary btn-block" onclick="location.href = '/admin/login'">
                                <a style="color: white;">ADMIN LOGIN</a>
                            </button>
                            <br>
                            <button class="btn btn-primary btn-block" onclick="location.href = '/staff/login'">
                                <a style="color: white;">STAFF LOGIN</a>
                            </button>
                            <br>
                            <button class="btn btn-primary btn-block" onclick="location.href = '/student/login'">
                                <a style="color: white;">STUDENT LOGIN</a>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

        </main>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>